.contenedor-principal {
    display: flex;
    width: 100%;
}

.container { background-color: rgba(0, 0, 0, 0.8); margin: 30px auto; padding: 30px; border-radius: 10px; max-width: 85%; box-shadow: 0 4px 8px rgba(0,0,0,0.5); }

.panel-izquierdo {
    width: 20%;
    color: white;
    padding: 10px;
    border-right: 2px solid #ccc;
    background-color: rgba(0, 0, 0, 0.7);
    height: 90vh;
    overflow-y: auto;
}

.panel-derecho {
    width: 30%;
    color: white;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
}

select {
    width: 10%;
    height: 50px;
}

select Std {
    width: 10%;
    height: 50px;
}

input, textarea {
    width: 90%;
    padding: 5px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #0057A0;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #003d73;
}