/* --- Estilo General --- */
body { margin: 0; padding: 0; background-image: url("/public/img/fondo.jpg"); background-size: cover; background-position: top; font-family: 'Arial', sans-serif; color: white; }
.content { text-align: center; margin-top: 30px; color: white; text-shadow: 1px 1px 2px black;}
.content img { width: 180px; margin-bottom: 0px;}
.content h1 { text-shadow: 1px 1px 2px black; }
h3 { text-align: center; margin-bottom: 15px; padding-bottom: 5px;}
select { width: 10%; height: 50px;}

/* --- Contenedor Principal de Dos Paneles --- */
.main-container { backdrop-filter:blur(10px); box-shadow: 0px 0px 10px rgba(227,228,237,0.37); border:2px solid rgba(255,255,255,0.18); display: flex; max-width: 95%; margin: 0 auto; gap: 20px; }
.left-panel { flex: 1; background-color: rgba(0,0,0,0.3); backdrop-filter:blur(5px); padding: 15px; border-radius: 8px; }
.right-panel { flex: 3; background-color: rgba(0,0,0,0.3); backdrop-filter:blur(5px); padding: 20px; border-radius: 8px; }

/* --- Panel Izquierdo --- */
.left-panel h3 { text-align: center; margin-top: 0; }
#filtro_estudiantes, #filtro_representantes { width: 100%; padding: 8px; margin-bottom: 15px; box-sizing: border-box; }
#lista_estudiantes, #lista_representantes { list-style: none; padding: 0; margin: 0; max-height: 600px; overflow-y: auto; }
#lista_estudiantes li, #lista_representantes li { padding: 10px; cursor: pointer; }
#lista_estudiantes li:hover, #lista_representantes li:hover { background-color: rgba(227,228,237,0.37) }

/* --- Panel Derecho --- */
#panel_informativo { text-align: center; padding: 50px; font-size: 1.2em; color: #ccc; }
.form-grid { max-width: 10%; display: grid; grid-template-columns: 1fr 1fr; gap: 20px; }
form h3, .related-section h3 { text-align: center; padding-bottom: 8px; }
input, textarea, select { width: 90%; padding: 5px; margin-bottom: 10px; font-size: 14px; box-sizing: border-box; }
form button { margin-top: 20px; text-decoration: none; padding: 10px 15px; background-color:rgb(48, 48, 48); color: white; border-radius: 5px; cursor: pointer; }
.mensaje { padding: 10px; margin-bottom: 15px; border-radius: 5px; color: black; }
.mensaje.exito { background-color: #d4edda; }
.mensaje.error { background-color: #f8d7da; }


button { margin-top: 20px; text-decoration: none; padding: 10px 15px; background-color:rgb(48, 48, 48); color: white; border-radius: 5px;}

button:hover {
    background-color:rgb(48, 48, 48);
}